@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 24%, 98%, 1;
    --foreground: 222.2, 84%, 4.9%;

    --card: 0, 0%, 100%;
    --card-foreground: 222.2, 84%, 4.9%;

    --popover: 0, 0%, 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 166, 97%, 34%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 210, 40%, 96.1%;
    --secondary-foreground: 222.2, 47.4%, 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 20% 65%;

    --border: 214.3 31.8% 91.4%;
    --input: 218 15% 65%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --error: 3, 79%, 55%;
  }

  .dark {
    --background: 203, 41%, 10%;
    --foreground: 210 40% 98%;

    --card: 199 31% 16%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 166 97% 34%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20% 65%;

    --border: 217.2 32.6% 17.5%;
    --input: 218 15% 65%;
    --ring: 212.7 26.8% 83.9%;
    --error: 3, 79%, 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:focus-visible {
  outline: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-drawer-body {
  padding-top: 4px !important;
}

.custom-sider {
  /* Desktop styles */
  @media (min-width: 768px) {
    .ant-menu-item {
      height: 40px !important;
      line-height: 40px !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
